---
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: assets/images/intro.jpg
  cta_label: "Selengkapnya"
  cta_url: "/kami/"
  caption: "Photo credit: [**Google**](https://www.google.com)"
excerpt: "<i>Commanditaire Vennootschap</i> (<b>CV</b>) dalam bidang <i>Digital Marketing Agency</i> yang berlokasi di Kalimantan Selatan, Indonesia. Dimulai pada tahun 2017, dengan tim yang ahli dalam bidang teknologi informasi, multimedia dan bisnis digital. Kami akan memberikan solusi, merevolusi cara bisnis anda untuk dapat berkembang dan bersaing pada era digital 4.0"
intro: 
  #- excerpt: 'Memfokuskan pada Pengembangan Aplikasi Mobile, Pengembangan Website dan Pemasaran Digital, membuat kami ahli dan terfokuskan dalam bidang tersebut. walaupun hanya berfokus pada 3 services tersebut tapi kami yakin bahwa kami tidak kalah saing dalam strategi, konsep bisnis dan juga dalam hal design antar muka.'
  - excerpt: "<h1>Services mengagumkan yang kami lakukan<h1>" 
feature_row:
  - image_path: https://raw.githubusercontent.com/mmistakes/minimal-mistakes/gh-pages-3.1.6/images/unsplash-gallery-image-1-th.jpg
    alt: "placeholder image 1"
    title: "Aplikasi Mobile"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: https://raw.githubusercontent.com/mmistakes/minimal-mistakes/gh-pages-3.1.6/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Pengembangan Website"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: https://raw.githubusercontent.com/mmistakes/minimal-mistakes/gh-pages-3.1.6/images/unsplash-gallery-image-3-th.jpg
    alt: "placeholder image 1"
    title: "Pemasaran Digital"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
feature_row2:
  - image_path: https://raw.githubusercontent.com/mmistakes/minimal-mistakes/gh-pages-3.1.6/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Left Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
feature_row3:
  - image_path: https://raw.githubusercontent.com/mmistakes/minimal-mistakes/gh-pages-3.1.6/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Right Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
feature_row4:
  - image_path: https://raw.githubusercontent.com/mmistakes/minimal-mistakes/gh-pages-3.1.6/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Center Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}
